@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600&display=swap');

:root{
    --primary-color:#fff;
    --primary-color:#f7f5f2;
    --secondary-color:#000;
    --secondary-shade:#4b4c4c;
    --red-color:#d40700;
    --red-shade:#b20600;
    --accent-color:#ffee63;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* footer */
.footer{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,50,51,1)35%, rgba(0,212,255,1)100%);
    background: linear-gradient(to right,#040404,#242424,#656565);
    color: var(--primary-color);
}
.footer hr{
    border: 2px solid red;
    margin-bottom: 2rem;
    width: 50%;
}

/*header */
header{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,50,51,1)35%, rgba(0,212,255,1)100%);
    background: linear-gradient(to right,#040404,#242424,#656565);
    color: var(--primary-color);
}
.nav-bar{
    padding: 30px 0;
}
span{
    color: var(--red-color);
}
 li a{
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 18px;
    cursor: pointer;
    position: relative; 
     
}
 ul li a::before{
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.6s ease ;
}
 li a:hover::before{
    width: 100%;
}

/* button */

.btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--red-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0 5px;
    font-weight: 500;
}
.btn:hover{
    background-color: var(--red-shade);
    color: var(--primary-shade);
    border: 2px solid var(--red-color);
}
.content{
    min-height: 100vh;
    position: relative;
}
.content .left{
    padding-left: 150px;
}

.content .right img{
    width: 30%;
    position: relative;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s ease;
    right: 10px;
    top: 10px;

}
.content .right img:hover{
   filter: drop-shadow(16px, 5px, 20px, burlywood);
}
h4, p{
    font-family: 'Poppins',sans-serif;
}
/*.color-box{
    width: 300px;
    height: 300px;
    border: 5px solid red;
    transform: rotate(48deg);
    position: absolute;
    top:10px;
    right: 10px;
}*/

/* about section */
.about{
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,50,51,1)35%, rgba(0,212,255,1)100%);
    background: linear-gradient(to right,#040404,#242424,#656565);
    color: var(--primary-color);
}
.about hr{
    border: 2px solid red;
    margin-bottom: 2rem;
}
.about-content img{
    width: 30%;
    transform: scaleX(-1);
}
.about-content ul{
    margin-top: 25px;
    margin-bottom: 10px;
}
.about-content span{
    color: #C6DCE4;
}
.about-me-sec .right hr{
    border: 2px solid red;
}

/* contact */
.contact{
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,50,51,1)35%, rgba(0,212,255,1)100%);
    background: linear-gradient(to right,#040404,#242424,#656565);
    color: var(--primary-color);
}


/* skill */
.skill{
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,50,51,1)35%, rgba(0,212,255,1)100%);
    background: linear-gradient(to right,#040404,#242424,#656565);
    color: var(--primary-color);
}
.skill .listSkill{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    padding-bottom: 50px;
}
.skill .listSkill .evaluate{
    width: 30%;
    height: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.skill .listSkill .evaluate::before{
    position: absolute;
    height: 100%;
    width: var(--point);
    content: '';
    border-radius: 50px;
}

/* project */
.project{
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,50,51,1)35%, rgba(0,212,255,1)100%);
    background: linear-gradient(to right,#040404,#242424,#656565);
    color: var(--primary-color);
}
.project .listProject {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /*border-bottom: 1px solid #ffee63;*/
    padding-bottom: 50px;
}
.listProject .item{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.listProject .item img{
    border-radius: 20px;
}







